@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
body {
  background-color: #ffffff;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Pretendard-Regular";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.root {
  display: block;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgb(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.nav {
  width: 1200px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 30px;
}

.topButton {
  width: 144px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}

.writingWord {
  width: 72px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.writingWord p {
  font-size: 14px;
  font-weight: bold;
  color: #5555ff;
  font-family: "Pretendard-Regular";
}

.profileBox {
  width: 72px;
  height: 41px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
}

.container {
  display: flex;
  width: 100%;
  height: 1835px;
  justify-content: center;
}

.lineContainer {
  display: block;
  width: 588px;
  height: 100%;
}

.subContainer {
  display: flex;
  width: 126px;
  height: 52px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  margin: 80px 0px 102px 0px;
  font-family: "Pretendard-Regular";
}

.postContainer {
  width: 588px;
  height: calc(100vh - 319px);
}

.studyBox1 {
  display: flex;
  width: 588px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 0px 80px 0px;
  justify-content: center;
}

.studyBox2 {
  display: flex;
  width: 588px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 0px 80px 0px;
  justify-content: center;
}

.studyContainer {
  display: block;
  width: 548px;
  height: 281px;
  margin-top: 20px;
  position: relative;
}

.topBox {
  display: flex;
  display: flex;
  width: 548px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  font-size: 12px;
  height: 35px;
  width: 82px;
  align-items: center;
}

.circleContainer {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: flex-end;
}

.circle {
  /*프로필 사진*/
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
  position: relative;
}

.commentsCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff5b5b;
  position: absolute;
  left: 19px;
  bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  font-family: "Pretendard-Regular";
}

.name {
  /*이름 들어가는 부분*/
  font-size: 12px;
  display: flex;
  width: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.dateBox {
  /*작성일 들어가는 부분*/
  display: flex;
  font-size: 12px;
  opacity: 0.3;
  width: 103px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.spaceBox {
  height: 20px;
  width: 548px;
  border: 1px solid #000000;
  opacity: 0.15;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.contentBox {
  display: flex;
  width: 548px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  position: absolute;
  top: 90px;
  font-family: "Pretendard-Regular";
}

.content {
  display: flex;
  width: 518px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  color: #383838;
  line-height: 24px;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.languageContainer {
  display: flex;
  width: 242px;
  height: 30px;
  position: absolute;
  top: 174px;
}

.languageArrow {
  display: flex;
  width: 37px;
  height: 30px;
  justify-content: space-between;
  align-items: center; /*세로축*/
}

.arrow {
  width: 10px;
  height: 10px;
}

.languageWord {
  display: flex;
  width: 23px;
  height: 30px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Pretendard-Regular";
}

.languageBox {
  display: flex;
  width: 114px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  margin-left: 15px;
}

.language {
  display: flex;
  width: 86px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #5555ff;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}

.regionContainer {
  display: flex;
  width: 242px;
  height: 30px;
  position: absolute;
  top: 228px;
  justify-content: space-between;
}

.regionArrow {
  display: flex;
  width: 37px;
  height: 30px;
  justify-content: space-between;
  align-items: center; /*세로축*/
}

.arrow {
  width: 10px;
  height: 10px;
}

.regionWord {
  display: flex;
  width: 23px;
  height: 30px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Pretendard-Regular";
}

.regionBoxes {
  display: flex;
  width: 192px;
  height: 30px;
  justify-content: space-between;
}

.regionBox {
  display: flex;
  width: 54px;
  height: 30px;
  border: 1px solid #ecd040;
  border-radius: 16px;
  background: #ffe455;
  justify-content: center;
}

.region {
  display: flex;
  width: 54px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}
