@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

body {
  background-color: #ffffff;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Pretendard-Regular";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.root {
  display: block;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgb(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.nav {
  width: 1200px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 30px;
}

.topButton {
  width: 180px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}

/*change header*/
.writingWord {
  width: 72px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.writingWord p {
  font-size: 14px;
  font-weight: bold;
  color: #5555ff;
  font-family: "Pretendard-Regular";
}

.profileBox {
  width: 72px;
  height: 41px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
}
/********/

.signIn {
  width: 72px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  border: none;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
  font-size: 14px;
  font-weight: 700;
  color: #5555ff;
  font-family: "Pretendard-Regular";
}

.joinMembership {
  width: 72px;
  height: 41px;
  background-color: #5555ff;
  border-radius: 8px;
  display: flex;
  border: none;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Pretendard-Regular";
}

.subContainer {
  display: block;
  width: 100%;
  height: 900px;
  justify-content: center;
}

.newsContainer {
  display: flex;
  width: 300vw;
  height: 378px;
  overflow: hidden;
  transition: transform 0.5s; /*서서히 변경해 주세요*/
}

.newsBoxLine {
  width: 100vw;
  height: 330px;
  float: left;
  border-radius: 16px;
  margin-top: 48px;
  opacity: 0.85;
  bottom: 0px;
}

.newsBoxLine img {
  width: 100%;
  height: 330px;
}

.rotationContainer {
  display: flex;
  width: 100%;
  height: 160px;
  justify-content: center;
  align-items: center; /*세로축*/
  position: relative;
}

.rotation {
  width: 88px;
  height: 16px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center; /*세로축*/
}

.nonClick {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.click {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #000000;
}

.selectContainer {
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center; /*세로축*/
  justify-content: center;
}

.selectBox {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locationSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 466px;
  height: 42px;
}

#localParent {
  width: 140px;
  height: 42px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}

#localChildOne {
  width: 140px;
  height: 42px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}

#localChildTwo {
  width: 140px;
  height: 42px;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}

.searchingBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  height: 34px;
}

.searching {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 32px;
  border: 2px solid #545454;
  opacity: 0.5;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-family: "Pretendard-Regular";
}

.searchIcon {
  width: 16px;
  height: 16px;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 1600px;
  justify-content: center;
}

.contentContainer {
  display: flex;
  width: 1200px;
  height: 1356px;
}

.studyBox1 {
  display: flex;
  width: 282px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 24px 24px 0px;
  justify-content: center;
  transition: all 0.2s linear;
}

.studyBox1:hover {
  border-color: #5555ff;
}

.studyBox2 {
  display: flex;
  width: 282px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 24px 24px 0px;
  justify-content: center;
  transition: all 0.2s linear;
}

.studyBox2:hover {
  border-color: #5555ff;
}

.studyBox3 {
  display: flex;
  width: 282px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 24px 24px 0px;
  justify-content: center;
  transition: all 0.2s linear;
}

.studyBox3:hover {
  border-color: #5555ff;
}

.studyBox4 {
  display: flex;
  width: 282px;
  height: 321px;
  border: 1px solid #e8e8e8;
  border-radius: 32px;
  box-shadow: 0px 8px 24px rgb(0, 0, 0, 0.08);
  margin: 0px 0px 24px 0px;
  justify-content: center;
  transition: all 0.2s linear;
}

.studyBox4:hover {
  border-color: #5555ff;
}

.studyContainer {
  display: block;
  width: 242px;
  height: 281px;
  margin-top: 20px;
  position: relative;
}

.topBox {
  display: flex;
  display: flex;
  width: 242px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  font-size: 12px;
  height: 35px;
  width: 82px;
  align-items: center;
}

.circleContainer {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: flex-end;
}

.circle {
  /*프로필 사진*/
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
  position: relative;
}

.commentsCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff5b5b;
  position: absolute;
  left: 19px;
  bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  font-family: "Pretendard-Regular";
}

.name {
  /*이름 들어가는 부분*/
  font-size: 12px;
  display: flex;
  width: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.dateBox {
  /*작성일 들어가는 부분*/
  display: flex;
  font-size: 12px;
  opacity: 0.3;
  width: 103px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.spaceBox {
  height: 20px;
  width: 242px;
  border: 1px solid #000000;
  opacity: 0.15;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.contentBox {
  display: flex;
  width: 242px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  position: absolute;
  top: 90px;
  font-family: "Pretendard-Regular";
}

.content {
  display: flex;
  width: 218px;
  height: 60px;
  font-size: 14px;
  font-weight: 600;
  color: #383838;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.languageContainer {
  display: flex;
  width: 242px;
  height: 30px;
  position: absolute;
  top: 174px;
}

.languageArrow {
  display: flex;
  width: 37px;
  height: 30px;
  justify-content: space-between;
  align-items: center; /*세로축*/
}

.arrow {
  width: 10px;
  height: 10px;
}

.languageWord {
  display: flex;
  width: 23px;
  height: 30px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Pretendard-Regular";
}

.languageBox {
  display: flex;
  width: 114px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  margin-left: 15px;
}

.language {
  display: flex;
  width: 86px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #5555ff;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}

.regionContainer {
  display: flex;
  width: 242px;
  height: 30px;
  position: absolute;
  top: 228px;
  justify-content: space-between;
}

.regionArrow {
  display: flex;
  width: 37px;
  height: 30px;
  justify-content: space-between;
  align-items: center; /*세로축*/
}

.arrow {
  width: 10px;
  height: 10px;
}

.regionWord {
  display: flex;
  width: 23px;
  height: 30px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Pretendard-Regular";
}

.regionBoxes {
  display: flex;
  width: 192px;
  height: 30px;
  justify-content: space-between;
}

.regionBox {
  display: flex;
  width: 54px;
  height: 30px;
  border: 1px solid #ecd040;
  border-radius: 16px;
  background: #ffe455;
  justify-content: center;
}

.region {
  display: flex;
  width: 54px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}
