@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
body {
  background-color: #ffffff;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Pretendard-Regular";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.root {
  display: block;
}

/*header 변경 css*/
.writingWord {
  width: 80px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
  font-size: 14px;
  font-weight: bold;
  color: #5555ff;
  border: none;
  font-family: "Pretendard-Regular";
}

.profileBox {
  width: 80px;
  height: 41px;
  display: flex;
  align-items: center; /*세로축*/
  position: relative;
}

.picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 16px;
  background-color: #000000;
  margin-left: 10px;
}

#openSelectButton {
  width: 12px;
  height: 7px;
  margin: 5px 0px 0px 10px;
  border: none;
  background: url("../img/vector.svg") no-repeat;
}

/*헤더 프로필 버튼 동작*/
.hidden {
  display: none;
}

#mySelect {
  position: absolute;
  width: 171px;
  height: 146px;
  top: 63px;
  left: -93px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.04);
}

#selectMyPost {
  display: flex;
  margin-top: 19px;
  width: 171px;
  height: 36px;
  border: none;
  background-color: #ffffff;
  color: #696969;
  font-size: 16px;
  align-items: center;
  font-family: "Pretendard-Regular";
}

#selectMyPost:hover {
  background-color: #eeeeff;
  transition: 0.1s;
}

#selectOption {
  display: flex;
  width: 171px;
  height: 36px;
  border: none;
  background-color: #ffffff;
  color: #696969;
  font-size: 16px;
  align-items: center;
  font-family: "Pretendard-Regular";
}

#selectOption:hover {
  background-color: #eeeeff;
  transition: 0.1s;
}

#selectLogout {
  display: flex;
  width: 171px;
  height: 36px;
  border: none;
  background-color: #ffffff;
  color: #696969;
  font-size: 16px;
  align-items: center;
  font-family: "Pretendard-Regular";
}

#selectLogout:hover {
  background-color: #eeeeff;
  transition: 0.1s;
}
/***************/
.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 50px rgb(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
  height: 85px;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
}

.nav {
  width: 1200px;
  display: flex;
  align-items: center; /*세로축*/
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 30px;
}

.topButton {
  width: 160px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}

.signIn {
  width: 72px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  border: none;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
  font-size: 14px;
  font-weight: 700;
  color: #5555ff;
  font-family: "Pretendard-Regular";
}

.joinMembership {
  width: 72px;
  height: 41px;
  background-color: #5555ff;
  border-radius: 8px;
  display: flex;
  border: none;
  align-items: center; /*세로축*/
  justify-content: center; /*가로축*/
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Pretendard-Regular";
}

.container {
  display: flex;
  width: 100%;
  height: 2700px;
  justify-content: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 2700px;
  flex-wrap: wrap;
}

.lineContainer {
  display: block;
  width: 792px;
  height: 1924px;
}

.subContainer {
  width: 792px;
  height: 254px;
  position: relative;
  margin-bottom: 21px;
}

.titleBox {
  display: flex;
  width: 792px;
  height: 52px;
  align-items: center;
  justify-content: space-between;
  top: 202px;
  position: absolute;
}

.title {
  display: flex;
  width: 398px;
  height: 52px;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.deleteEdit {
  display: none;
  width: 94px;
  height: 20px;
}

.edit {
  display: flex;
  width: 47px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Pretendard-Regular";
}

.delete {
  display: flex;
  width: 47px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Pretendard-Regular";
}

.topBox {
  display: flex;
  display: flex;
  width: 242px;
  height: 32px;
  margin-bottom: 103px;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  font-size: 12px;
  height: 32px;
  width: 82px;
  align-items: center;
}

.circleContainer {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: flex-end;
}

.circle {
  /*프로필 사진*/
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
  position: relative;
}

.name {
  /*이름 들어가는 부분*/
  font-size: 12px;
  display: flex;
  width: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.dateBox {
  /*작성일 들어가는 부분*/
  display: flex;
  font-size: 12px;
  opacity: 0.3;
  width: 103px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.divisionContainer {
  display: flex;
  width: 792px;
  height: 42px;
  margin-bottom: 18px;
}

.wordContainer {
  display: flex;
  width: 396px;
  height: 42px;
}

.word {
  display: flex;
  width: 110px;
  height: 42px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
  align-items: center;
}

.infoContainer {
  display: flex;
  width: 792px;
  height: 30px;
  margin-bottom: 157px;
}

.infoDivisionContainer {
  display: flex;
  width: 396px;
  height: 30px;
}

.regionBoxes {
  display: flex;
  width: 205px;
  height: 30px;
  justify-content: space-between;
}

.regionBox {
  display: flex;
  width: auto;
  height: 30px;
  border: 1px solid #ecd040;
  border-radius: 16px;
  background: #ffe455;
  justify-content: center;
}

.region {
  display: flex;
  width: auto;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin: 0px 4px 0px 4px;
  font-family: "Pretendard-Regular";
}

.languageBox {
  display: flex;
  width: 200px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}
.ent {
  color: #5555ff;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 600;
}
.language {
  display: flex;
  width: auto;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #5555ff;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}

.detailPost {
  display: flex;
  width: 136px;
  height: 42px;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  margin-bottom: 19px;
  font-family: "Pretendard-Regular";
}

.post {
  width: 792px;
  height: 510px;
  margin-bottom: 280px;
}

.post p {
  /*게시글 들어갈 부분*/
  font-size: 16px;
  line-height: 32px;
  font-family: "Pretendard-Regular";
}

.commentWord {
  display: flex;
  width: 94px;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  margin-bottom: 18px;
  font-family: "Pretendard-Regular";
}

.inputComment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 792px;
  height: 130px;
  border: 1px solid #dadada;
  border-radius: 16px;
  margin-bottom: 21px;
}

textarea {
  display: flex;
  width: 750px;
  height: 100px;
  border: none;
  color: black;
  font-size: 14px;
  font-family: "Pretendard-Regular";
  resize: none;
  overflow: hidden;
}

textarea::placeholder {
  color: #dadada;
}

textarea:focus {
  outline: none;
}

.writeComment {
  display: flex;
  width: 124px;
  height: 42px;
  align-items: center;
  color: #dadada;
  margin: 21px;
  font-size: 14px;
  font-family: "Pretendard-Regular";
}

.writingButtonConainer {
  display: flex;
  width: 792px;
  height: 60px;
  justify-content: flex-end;
  margin-bottom: 63px;
}

.writingButton {
  display: flex;
  width: 141px;
  height: 60px;
  color: #ffffff;
  background-color: #5555ff;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.writingButton button:hover {
  transition: 0.2s;
  background-color: #4747d6;
}

.commentsContainer {
  display: block;
  width: 1200px;
  height: 700px;
}

.commentBox {
  width: 792px;
  height: 104px;
  margin: 22px 204px 22px 204px;
}

.boundaries {
  background-color: #e9e9e9;
  border: 1px;
  width: 1200px;
  height: 2px;
}

.commentWho {
  display: flex;
  width: 792px;
  height: 32px;
  justify-content: space-between;
  align-items: center;
}

.deleteEditC {
  display: none;
  width: 77px;
  height: 20px;
}

.editC {
  border: none;
  background-color: white;
  display: flex;
  width: 38.5px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Pretendard-Regular";
}

.deleteC {
  border: none;
  background-color: white;
  display: flex;
  width: 38.5px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Pretendard-Regular";
}

.nameC {
  /*이름 들어가는 부분*/
  font-size: 14px;
  display: flex;
  width: 50px;
  height: 20px;
  align-items: center;
  margin-left: 4px;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.comment {
  display: flex;
  width: 792px;
  height: 52px;
  align-items: center;
  font-size: 18px;
  font-family: "Pretendard-Regular";
}

.dateBoxC {
  /*작성일 들어가는 부분*/
  display: flex;
  font-size: 12px;
  opacity: 0.3;
  width: auto;
  height: 20px;
  align-items: center;
  font-family: "Pretendard-Regular";
}
