<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TACO - Find</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="/css/findid.css" />
  </head>
  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='../templates/main.html'"
            />
          </button>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <div class="leftContainer">
            <div class="intro">
              <div class="marker">
                <lottie-player
                  src="https://assets10.lottiefiles.com/datafiles/BWweJKuWuiTWcaI/data.json"
                  background="transparent"
                  speed="1"
                  style="width: 150px; height: 150px"
                  loop
                  autoplay
                ></lottie-player>
                <div class="blinder"></div>
              </div>

              내<span> 이웃</span>과 함께<br />
              <span>만들고 소통</span>하는 공간
            </div>
          </div>
          <div class="rightContainer">
            <form>
              <div class="loginForm">
                <div class="back">
                  <?xml version="1.0" encoding="UTF-8"?><svg
                    width="24px"
                    height="24px"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    color="#000000"
                  >
                    <path
                      d="M15 6l-6 6 6 6"
                      stroke="#B1B1B1"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                  <p>뒤로가기</p>
                </div>
                <div class="loginUp">
                  <h1>아이디 찾기</h1>
                  <div class="updown"></div>
                  <h1>비밀번호 찾기</h1>
                </div>
                <div class="loginDown">
                  <div class="name">
                    <input class="nameInput" type="text" placeholder="이름" />
                  </div>
                  <div class="phoneNumber">
                    <?xml version="1.0" encoding="UTF-8"?><svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        class="path4"
                        d="M12 16.01l.01-.011"
                        stroke="#B1B1B1"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        class="path4"
                        d="M7 19.4V4.6a.6.6 0 01.6-.6h8.8a.6.6 0 01.6.6v14.8a.6.6 0 01-.6.6H7.6a.6.6 0 01-.6-.6z"
                        stroke="#B1B1B1"
                        stroke-width="2"
                      ></path></svg
                    ><input
                      class="phoneNumberInput"
                      type="text"
                      placeholder="휴대폰 번호를 -없이 적어주세요."
                    />
                  </div>
                  <button>아이디 찾기</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/findid.js"></script>
  </body>
</html>
