<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/login.css" />
  </head>
  <body>
    <div class="root">
      <div class="header">
        <div class="nav"><img class="logo" src="../assets/img/logo.png" /></div>
      </div>
      <div class="main">
        <div class="container">
          <div class="leftContainer">
            <div class="intro">
              내<span> 이웃</span>과 함께<br />
              <span>만들고 소통</span>하는 공간
            </div>
          </div>
          <div class="rightContainer">
            <form>
              <div class="loginForm">
                <div class="loginUp">
                  <h1>로그인</h1>
                  <p>TACO가 처음이신가요?<a href=""> 회원가입</a></p>
                </div>
                <div class="loginDown">
                  <div class="id">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        d="M5 20v-1a7 7 0 017-7v0a7 7 0 017 7v1M12 12a4 4 0 100-8 4 4 0 000 8z"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input type="text" placeholder="아이디" />
                  </div>
                  <div class="password">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        d="M16 12h1.4a.6.6 0 01.6.6v6.8a.6.6 0 01-.6.6H6.6a.6.6 0 01-.6-.6v-6.8a.6.6 0 01.6-.6H8m8 0V8c0-1.333-.8-4-4-4S8 6.667 8 8v4m8 0H8"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input type="password" placeholder="비밀번호" />
                  </div>
                  <button>로그인</button>
                  <a href="">아이디/비밀번호 찾기</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
