<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <img class="logo" src="../assets/img/logo.png" />
          <div class="topButton">
            <div class="signIn">
              <p>로그인</p>
            </div>
            <div class="joinMembership">
              <p>회원가입</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="newsContainer">
          <div class="newsBoxLine"></div>
        </div>
        <div class="rotationContainer">
          <div class="rotation">ooo</div>
        </div>
        <div class="selectContainer">
          <div class="selectBox">
            <div class="locationSelect">
              <div class="administrative"><p>경기도</p></div>
              <div class="region"><p>파주시</p></div>
              <div class="neighborhood"><p>금촌</p></div>
            </div>
            <div class="searchingBox">
              <input class="searching" type="text" placeholder="제목, 게시글" />
              <div class="searchIcon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
