<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='/'"
            />
          </button>
          <div class="topButton">
            <button
              type="button"
              id="change"
              class="signIn"
              onclick="location.href='/login'"
            >
              로그인
            </button>
            <button
              type="button"
              id="change"
              class="joinMembership"
              onclick="location.href='/signup'"
            >
              회원가입
            </button>
          </div>
        </div>
      </div>
      <div class="subContainer">
        <div class="newsContainer">
          <div class="newsBoxLine">
            <img src="/img/slide1.png" style="z-index: 1" />
          </div>
          <div class="newsBoxLine">
            <img src="/img/slide2.png" style="z-index: 1" />
          </div>
          <div class="newsBoxLine">
            <img src="/img/slide3.png" style="z-index: 1" />
          </div>
        </div>

        <div class="rotationContainer">
          <div class="rotation">
            <button class="click" id="newsCircle1"></button>
            <button class="nonClick" id="newsCircle2"></button>
            <button class="nonClick" id="newsCircle3"></button>
          </div>
        </div>
        <div class="selectContainer">
          <div class="selectBox">
            <div class="locationSelect">
              <select id="localParent" onchange="categoryChange1(this)">
                <option>선택</option>
                <option value="서울특별시">서울특별시</option>
              </select>
              <select id="localChildOne" onchange="categoryChange2(this)">
                <option>선택</option>
              </select>
              <select id="localChildTwo">
                <option>선택</option>
              </select>
            </div>
            <div class="searchingBox">
              <input class="searching" type="text" placeholder="제목, 게시글" />
              <img class="searchIcon" src="/img/search.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="mainContainer">
        <div class="contentContainer">
          <th:block th:each="post : ${posts}">
            <div
              class="studyBox"
              th:onclick="|location.href='@{/post/{postId}(postId=${post.postIndex})}'|"
            >
              <div class="studyContainer">
                <div class="topBox">
                  <div class="profile">
                    <div class="circleContainer">
                      <div class="circle">
                        <div class="commentsCircle">12</div>
                      </div>
                    </div>
                    <div class="name" th:text="${post.userNickName}">이름</div>
                  </div>
                  <div
                    class="dateBox"
                    th:text="${#temporals.format(post.postRegDate, 'yyyy-MM-dd')}"
                  >
                    작성일
                  </div>
                </div>
                <div class="spaceBox"></div>
                <div class="contentBox">
                  <div class="content" th:text="${post.title}">게시글 제목</div>
                </div>
                <div class="languageContainer">
                  <div class="languageArrow">
                    <img class="arrow" src="/img/arrow.png" />
                    <div class="languageWord">언어</div>
                  </div>
                  <div class="languageBox">
                    <div class="ent">&#35;</div>
                    <div class="language" th:text="${post.postLanguage1}">
                      사용언어
                    </div>
                    <div class="ent">&#35;</div>
                    <div class="language" th:text="${post.postLanguage1}">
                      사용언어
                    </div>
                    <div class="ent">&#35;</div>
                    <div class="language" th:text="${post.postLanguage1}">
                      사용언어
                    </div>
                  </div>
                </div>
                <div class="regionContainer">
                  <div class="regionArrow">
                    <img class="arrow" src="/img/arrow.png" />
                    <div class="regionWord">지역</div>
                  </div>
                  <div class="regionBoxes">
                    <div class="regionBox">
                      <div class="region" th:text="${post.postSido}">시/도</div>
                    </div>
                    <div class="regionBox">
                      <div class="region" th:text="${post.postGugun}">
                        구/군
                      </div>
                    </div>
                    <div class="regionBox">
                      <div class="region" th:text="${post.postDong}">동</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
          <!--굳이 태그로 감쌀 필요 없는 부분을 타임리프 문법으로 사용할 때 사용-->
          <th:block th:each="page:${#numbers.sequence(startPage, endPage)}">
            <a
              th:if="${page != nowPage}"
              th:href="@{/(page=${page -1})}"
              th:text="${page}"
            ></a>
            <strong
              th:if="${page == nowPage}"
              th:text="${page}"
              style="color: red"
            ></strong>
          </th:block>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="/js/main.js?ver=2"></script>
  </body>
</html>
