<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/myaccount.css" />
    <title>TACO - Settings</title>
  </head>
  <body>
    <div class="root">
      <!-- 헤더 부분 사용할때 이부분 사용-->
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='/'"
            />
          </button>
          <div class="topButton">
            <button class="writingWord" onclick="location.href='/post'">
              글쓰기
            </button>
            <div class="profileBox">
              <div class="picture"></div>
              <button id="openSelectButton"></button>
              <div id="mySelect" class="hidden">
                <button id="selectMyPost" onclick="location.href='/post/my'">
                  <img src="/img/pageEdit.svg" />내 작성글
                </button>
                <button id="selectOption" onclick="location.href='/user/edit'">
                  <img src="/img/option.svg" />설정
                </button>
                <form action="/logout" method="post">
                  <button type="submit" id="selectLogout">  
                    <img src="/img/logOut.svg" />로그아웃
                  </button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--여기까지-->
      <div class="main">
        <div class="container">
          <div class="menu">
            <button class="menuList" onclick="location.href='/user/edit'">
              <p>내 정보</p>
            </button>
            <button class="menuList"><p>내 계정</p></button>
          </div>
          <div class="myInfo">
            <h1>내 계정</h1>
            <div class="password">
              <p>프로필 사진</p>
              <div class="changePassword"><p>비밀번호 변경하기</p></div>
            </div>
            <hr />
            <div class="deletePassword">
              <p>회원탈퇴</p>
              <form id="delete-form" action="/user/delete" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button>회원탈퇴</button>
              </form>
            </div>
            <hr />
            <div class="saveButton"><button>저장하기</button></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/myaccount.js"></script>
  </body>
</html>
