<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/myaccount.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>TACO - Settings</title>
  </head>
  <body>
    <div class="root">
      <!-- 헤더 부분 사용할때 이부분 사용-->
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='/'"
            />
          </button>

          <div class="topButton">
            <button class="writingWord" onclick="location.href='/post'">
              글쓰기
            </button>
            <div class="profileBox">
              <img
                class="picture"
                onerror="this.src='/img/default_profile.png'"
                th:src="@{/upload/{uploadfile}(uploadfile=${storeFileName})}"
              />
              <button id="openSelectButton"></button>
              <div id="mySelect" class="hidden">
                <button id="selectMyPost">
                  <img src="../static/img/pageEdit.svg" />내 작성글
                </button>
                <button id="selectOption">
                  <img src="../static/img/option.svg" />설정
                </button>
                <button id="selectLogout">
                  <img src="../static/img/logOut.svg" />로그아웃
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--여기까지-->
      <div class="main">
        <div class="container">
          <div class="menu">
            <button class="menuList" onclick="location.href='/user/edit'">
              <p>내 정보</p>
            </button>
            <button class="menuList"><p>내 계정</p></button>
          </div>
          <div class="myInfo">
            <h1>내 계정</h1>
            <div class="password">
              <p>비밀번호</p>
              <div class="changePassword">
                <button type="button" class="changePw">
                  비밀번호 변경하기
                </button>
                <div class="newpwContainer">
                  <input
                    id="inputNewpw"
                    type="password"
                    name="newPassword"
                    placeholder="새로운 비밀번호"
                  />
                  <div class="eye">
                    <?xml version="1.0" encoding="UTF-8"?><svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        d="M12 14a2 2 0 100-4 2 2 0 000 4z"
                        stroke="#B1B1B1"
                        stroke-width="3.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        d="M21 12c-1.889 2.991-5.282 6-9 6s-7.111-3.009-9-6c2.299-2.842 4.992-6 9-6s6.701 3.158 9 6z"
                        stroke="#B1B1B1"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                  <div class="eyeClose">
                    <?xml version="1.0" encoding="UTF-8"?><svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        d="M3 3l18 18M10.5 10.677a2 2 0 002.823 2.823"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                      <path
                        d="M7.362 7.561C5.68 8.74 4.279 10.42 3 12c1.889 2.991 5.282 6 9 6 1.55 0 3.043-.523 4.395-1.35M12 6c4.008 0 6.701 3.158 9 6a15.66 15.66 0 01-1.078 1.5"
                        stroke="#B1B1B1"
                        stroke-width="1.8"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="deletePassword">
              <p>회원탈퇴</p>
              <button id="withdrawBtn" type="button">회원탈퇴</button>
            </div>
            <hr />
            <div class="saveButton">
              <button id="submitBtn" type="button">저장하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/myaccount.js"></script>
  </body>
</html>
