<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/myaccount.css" />
    <title>TACO - Settings</title>
  </head>
  <body>
    <div class="root">
      <!-- 헤더 부분 사용할때 이부분 사용-->
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="../assets/img/logo.png"
              onclick="location.href='../templates/main.html'"
            />
          </button>
          <div class="navContainer">
            <div class="navButton"><p>글쓰기</p></div>
            <div class="profile"><img src="../assets/img/profile.jpeg" /></div>
          </div>
        </div>
      </div>
      <!--여기까지-->
      <div class="main">
        <div class="container">
          <div class="menu">
            <button class="menuList" onclick="location.href='./mypage.html'">
              <p>내 정보</p>
            </button>
            <button class="menuList"><p>내 계정</p></button>
          </div>
          <div class="myInfo">
            <h1>내 계정</h1>
            <div class="password">
              <p>프로필 사진</p>
              <div class="changePassword"><p>비밀번호 변경하기</p></div>
            </div>
            <hr />
            <div class="deletePassword">
              <p>회원탈퇴</p>
              <button>회원탈퇴</button>
            </div>
            <hr />
            <div class="saveButton"><button>저장하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
