<!DOCTYPE html>
<html
  lang="en"
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <title>TACO - Settings</title>
  </head>
  <body>
    <div class="root">
      <!-- 헤더 부분 사용할때 이부분 사용-->
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='../templates/main.html'"
            />
          </button>
          <div class="navContainer">
            <div class="navButton"><p>글쓰기</p></div>
            <div class="profile"><img src="/img/profile.jpeg" /></div>
          </div>
        </div>
      </div>
      <!--여기까지-->
      <div class="main">
        <div class="container">
          <div class="menu">
            <button class="menuList"><p>내 정보</p></button>
            <button class="menuList" onclick="location.href='./myaccount.html'">
              <p>내 계정</p>
            </button>
          </div>
          <div class="myInfo">
            <h1>내 정보</h1>
            <div class="profileImg">
              <p>프로필 사진</p>
              <div class="imgUpload">
                <img src="/img/profile.jpeg" alt="" />
                <button>이미지 업로드</button>
              </div>
            </div>
            <hr />
            <div class="name">
              <p>이름</p>
              <input type="text" />
            </div>
            <hr />
            <div class="nickName">
              <p>닉네임</p>
              <input type="text" />
            </div>
            <hr />
            <div class="phoneNumber">
              <p>휴대폰 번호</p>
              <input type="text" />
            </div>
            <hr />
            <div class="saveButton"><button>저장하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
