<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <title>TACO - Settings</title>
  </head>
  <body>
    <div class="root">
      <!-- 헤더 부분 사용할때 이부분 사용-->
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='/'"
            />
          </button>

          <div class="topButton">
            <button class="writingWord" onclick="location.href='/post'">
              글쓰기
            </button>
            <div class="profileBox">
              <div class="picture"></div>
              <button id="openSelectButton"></button>
              <div id="mySelect" class="hidden">
                <button id="selectMyPost">
                  <img src="/img/pageEdit.svg" />내 작성글
                </button>
                <button id="selectOption">
                  <img src="/img/option.svg" />설정
                </button>
                <button id="selectLogout">
                  <img src="/img/logOut.svg" />로그아웃
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--여기까지-->
      <div class="main">
        <div class="container">
          <div class="menu">
            <button class="menuList"><p>내 정보</p></button>
            <button class="menuList" onclick="location.href='/user/account'">
              <p>내 계정</p>
            </button>
          </div>
          <form enctype="multipart/form-data" action="/user/edit" method="post">
            <div class="myInfo">
              <h1>내 정보</h1>
              <div class="profileImg">
                <p>프로필 사진</p>
                <div class="imgUpload">
                  <div id="profileImg"></div>
                  <div class="imgButton">
                    <label for="chooseFile">이미지 업로드</label>
                  </div>
                  <input
                    type="file"
                    id="chooseFile"
                    name="originFileName"
                    accept="image/*"
                    onchange="loadFile(this)"
                  />
                </div>
              </div>
              <hr />
              <div class="name">
                <p>이름</p>
                <input
                  type="text"
                  name="userName"
                  th:value="${userInfo.userName}"
                />
              </div>
              <hr />
              <div class="nickName">
                <p>닉네임</p>
                <input
                  type="text"
                  name="userNickName"
                  th:value="${userInfo.userNickName}"
                />
              </div>
              <hr />
              <div class="phoneNumber">
                <p>휴대폰 번호</p>
                <input
                  type="text"
                  name="userPhoneNumber"
                  th:value="${userInfo.userPhoneNumber}"
                />
              </div>
              <hr />
              <div class="saveButton">
                <button type="submit">저장하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/mypage.js"></script>
  </body>
</html>
