<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/mypost.css" />
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <img class="logo" src="../assets/img/logo.png" />

          <div class="topButton">
            <div class="writingWord">
              <p>글쓰기</p>
            </div>
            <div class="profileBox">
              <div class="picture"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="lineContainer">
          <div class="subContainer">
            <p>내 작성글</p>
          </div>
          <div class="postContainer">
            <div class="studyBox1">
              <div class="studyContainer">
                <div class="topBox">
                  <div class="profile">
                    <div class="circleContainer">
                      <div class="circle">
                        <div class="commentsCircle">12</div>
                      </div>
                    </div>
                    <div class="name">조혜령</div>
                  </div>
                  <div class="dateBox">작성일 2023.03.26</div>
                </div>
                <div class="spaceBox"></div>
                <div class="contentBox">
                  <div class="content">
                    프론트 엔드 스터디 모집합니다. 같이 하실 분은 연락을 꼭
                    주세요!! 프로 ...
                  </div>
                </div>
                <div class="languageContainer">
                  <div class="languageArrow">
                    <img class="arrow" src="../assets/img/arrow.png" />
                    <div class="languageWord">언어</div>
                  </div>
                  <div class="languageBox">
                    <div class="language">#리액트 #장고</div>
                  </div>
                </div>
                <div class="regionContainer">
                  <div class="regionArrow">
                    <img class="arrow" src="../assets/img/arrow.png" />
                    <div class="regionWord">지역</div>
                  </div>
                  <div class="regionBoxes">
                    <div class="regionBox">
                      <div class="region">경기도</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">파주시</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">금촌동</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="studyBox2">
              <div class="studyContainer">
                <div class="topBox">
                  <div class="profile">
                    <div class="circleContainer">
                      <div class="circle">
                        <div class="commentsCircle">12</div>
                      </div>
                    </div>
                    <div class="name">조혜령</div>
                  </div>
                  <div class="dateBox">작성일 2023.03.26</div>
                </div>
                <div class="spaceBox"></div>
                <div class="contentBox">
                  <div class="content">
                    프론트 엔드 스터디 모집합니다. 같이 하실 분은 연락을 꼭
                    주세요!! 프로 ...
                  </div>
                </div>
                <div class="languageContainer">
                  <div class="languageArrow">
                    <img class="arrow" src="../assets/img/arrow.png" />
                    <div class="languageWord">언어</div>
                  </div>
                  <div class="languageBox">
                    <div class="language">#리액트 #장고</div>
                  </div>
                </div>
                <div class="regionContainer">
                  <div class="regionArrow">
                    <img class="arrow" src="../assets/img/arrow.png" />
                    <div class="regionWord">지역</div>
                  </div>
                  <div class="regionBoxes">
                    <div class="regionBox">
                      <div class="region">경기도</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">파주시</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">금촌동</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
