<!DOCTYPE html>
<html
  lang="en"
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/mypost.css" />
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="../static/img/logo.png"
              onclick="location.href='../templates/main.html'"
            />
          </button>

          <div class="topButton">
            <button
              class="writingWord"
              onclick="location.href='../templates/post_edit.html'"
            >
              글쓰기
            </button>
            <div class="profileBox">
              <div class="picture"></div>
              <button id="openSelectButton"></button>
              <div id="mySelect" class="hidden">
                <button id="selectMyPost">
                  <img src="../static/img/pageEdit.svg" />내 작성글
                </button>
                <button id="selectOption">
                  <img src="../static/img/option.svg" />설정
                </button>
                <button id="selectLogout">
                  <img src="../static/img/logOut.svg" />로그아웃
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="lineContainer">
          <div class="subContainer">내 작성글</div>
          <div class="postContainer">
            <div class="studyBox1">
              <div class="studyContainer">
                <div class="topBox">
                  <div class="profile">
                    <div class="circleContainer">
                      <div class="circle">
                        <div class="commentsCircle">12</div>
                      </div>
                    </div>
                    <div class="name">조혜령</div>
                  </div>
                  <div class="dateBox">작성일 2023.03.26</div>
                </div>
                <div class="spaceBox"></div>
                <div class="contentBox">
                  <div class="content">
                    프론트 엔드 스터디 모집합니다. 같이 하실 분은 연락을 꼭
                    주세요!! 프로 ...
                  </div>
                </div>
                <div class="languageContainer">
                  <div class="languageArrow">
                    <img class="arrow" src="../static/img/arrow.png" />
                    <div class="languageWord">언어</div>
                  </div>
                  <div class="languageBox">
                    <div class="language">#리액트 #장고</div>
                  </div>
                </div>
                <div class="regionContainer">
                  <div class="regionArrow">
                    <img class="arrow" src="../static/img/arrow.png" />
                    <div class="regionWord">지역</div>
                  </div>
                  <div class="regionBoxes">
                    <div class="regionBox">
                      <div class="region">경기도</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">파주시</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">금촌동</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="studyBox2">
              <div class="studyContainer">
                <div class="topBox">
                  <div class="profile">
                    <div class="circleContainer">
                      <div class="circle">
                        <div class="commentsCircle">12</div>
                      </div>
                    </div>
                    <div class="name">조혜령</div>
                  </div>
                  <div class="dateBox">작성일 2023.03.26</div>
                </div>
                <div class="spaceBox"></div>
                <div class="contentBox">
                  <div class="content">
                    프론트 엔드 스터디 모집합니다. 같이 하실 분은 연락을 꼭
                    주세요!! 프로 ...
                  </div>
                </div>
                <div class="languageContainer">
                  <div class="languageArrow">
                    <img class="arrow" src="../static/img/arrow.png" />
                    <div class="languageWord">언어</div>
                  </div>
                  <div class="languageBox">
                    <div class="language">#리액트 #장고</div>
                  </div>
                </div>
                <div class="regionContainer">
                  <div class="regionArrow">
                    <img class="arrow" src="../static/img/arrow.png" />
                    <div class="regionWord">지역</div>
                  </div>
                  <div class="regionBoxes">
                    <div class="regionBox">
                      <div class="region">경기도</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">파주시</div>
                    </div>
                    <div class="regionBox">
                      <div class="region">금촌동</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/mypost.js"></script>
  </body>
</html>
