<div class="header">
  <div class="nav">
    <button type="button" class="button">
      <img
        class="logo"
        alt="logo"
        src="/img/logo.png"
        onclick="location.href='/'"
      />
    </button>

    <div class="topButton">
      <button class="writingWord" onclick="location.href='/post'">
        글쓰기
      </button>
      <div class="profileBox">
        <div class="picture"></div>
        <button id="openSelectButton"></button>
        <div id="mySelect" class="hidden" style="z-index: 2">
          <button id="selectMyPost">
            <img src="/img/pageEdit.svg" />내 작성글
          </button>
          <button id="selectOption"><img src="/img/option.svg" />설정</button>
          <button id="selectLogout">
            <img src="/img/logOut.svg" />로그아웃
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
