<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image⁄x-icon" href="/img/icon.ico">
    <title>TACO</title>
    <link rel="stylesheet" href="/css/post_edit.css" />
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css" />
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <button type="button" class="button">
            <img
              class="logo"
              alt="logo"
              src="/img/logo.png"
              onclick="location.href='/', sessionStorage.clear()"
            />
          </button>

          <div class="topButton">
            <button class="writingWord" onclick="location.href='/post'">
              글쓰기
            </button>
            <div class="profileBox">
              <img
                class="picture"
                onerror="this.src='/img/default_profile.png'"
                th:src="@{/upload/{uploadfile}(uploadfile=${userProfile})}"
              />
              <button id="openSelectButton"></button>
              <div id="mySelect" class="hidden">
                <button id="selectMyPost" onclick="location.href='/post/my'">
                  <img src="/img/pageEdit.svg" />내 작성글
                </button>
                <button id="selectOption" onclick="location.href='/user/edit'">
                  <img src="/img/option.svg" />설정
                </button>
                <form action="/logout" method="post">
                  <button type="submit" id="selectLogout">
                    <img src="/img/logOut.svg" />로그아웃
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <form
          id="myForm"
          th:action="@{/post/edit/{postId}(postId=${post.postIndex})}"
          method="post"
        >
          <div class="lineContainer">
            <div class="subContainer">프로젝트 기본 정보</div>
            <div class="titleBox">
              <input
                class="postTitle"
                type="text"
                name="title"
                placeholder="제목을 입력해주세요."
                onfocus="this.placeholder=''"
                onblur="this.placeholder='제목을 입력해주세요.'"
                th:value="${post.title}"
              />
            </div>
            <div class="inputBox">
              <textarea
                class="summernote"
                name="description"
                th:value="${post.description}"
                th:text="${post.description}"
              ></textarea>
            </div>
            <div class="regionLanguage">지역 및 언어</div>
            <div class="regionWord">지역</div>
            <div class="locationSelect">
              <select
                id="localParent"
                name="postSido"
                onchange="categoryChange1(this)"
              >
                <option th:text="${post.postSido}">도를 선택해주세요.</option>
                <option value="서울특별시">서울특별시</option>
              </select>
              <select
                id="localChildOne"
                name="postGugun"
                onchange="categoryChange2(this)"
              >
                <option th:text="${post.postGugun}">시를 선택해주세요.</option>
              </select>
              <select id="localChildTwo" name="postDong">
                <option th:text="${post.postDong}">동을 선택해주세요.</option>
              </select>
            </div>
            <div class="languageWord">언어</div>
            <div id="hashContainer" class="languageSelect">
              <div class="languageBox">
                <input
                  class="language1"
                  type="text"
                  name="postLanguage1"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                  th:value="${post.postLanguage1}"
                />
                <img class="additional1" src="/img/plus.svg" />
              </div>
              <div class="languageBox">
                <input
                  class="language2"
                  type="text"
                  name="postLanguage2"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                  th:value="${post.postLanguage2}"
                />
                <img class="additional2" src="/img/plus.svg" />
              </div>
              <div class="languageBox">
                <input
                  class="language3"
                  type="text"
                  name="postLanguage3"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                  th:value="${post.postLanguage3}"
                />
                <img class="additional3" src="/img/plus.svg" />
              </div>
            </div>
            <div class="bottomContainer">
              <div class="bottomButton">
                <div class="deleteButton" onclick="history.back()">취소</div>
                <input type="submit" class="storeButton" value="저장하기" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/post_edit.js"></script>
  </body>
</html>
