<!DOCTYPE html>
<html
  lang="en"
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>
    <link rel="stylesheet" href="../static/css/post_edit.css" />
    <script src="../static/js/summernote/summernote-lite.js"></script>
    <script src="../static/js/summernote/lang/summernote-ko-KR.js"></script>
    <link
      rel="stylesheet"
      href="../static/css/summernote/summernote-lite.css"
    />
  </head>

  <body>
    <form id="myForm" action="/post/save" method="post">
      <div class="root">
        <div class="header">
          <div class="nav">
            <button type="button" class="button">
              <img
                class="logo"
                alt="logo"
                src="../static/img/logo.png"
                onclick="location.href='../templates/main.html'"
              />
            </button>

            <div class="topButton">
              <button
                class="writingWord"
                onclick="location.href='../templates/post_edit.html'"
              >
                글쓰기
              </button>
              <div class="profileBox">
                <div class="picture"></div>
                <button id="openSelectButton"></button>
                <div id="mySelect" class="hidden">
                  <button id="selectMyPost">
                    <img src="../static/img/pageEdit.svg" />내 작성글
                  </button>
                  <button id="selectOption">
                    <img src="../static/img/option.svg" />설정
                  </button>
                  <button id="selectLogout">
                    <img src="../static/img/logOut.svg" />로그아웃
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="lineContainer">
            <div class="subContainer">프로젝트 기본 정보</div>
            <div class="titleBox">
              <input
                class="postTitle"
                type="text"
                placeholder="제목을 입력해주세요."
                onfocus="this.placeholder=''"
                onblur="this.placeholder='제목을 입력해주세요.'"
              />
            </div>
            <div class="inputBox">
              <textarea class="summernote" name="editordata"></textarea>
            </div>
            <div class="regionLanguage">지역 및 언어</div>
            <div class="regionWord">지역</div>
            <div class="locationSelect">
              <select id="localParent" onchange="categoryChange1(this)">
                <option>도를 선택해주세요.</option>
                <option value="서울특별시">서울특별시</option>
              </select>
              <select id="localChildOne" onchange="categoryChange2(this)">
                <option>시를 선택해주세요.</option>
              </select>
              <select id="localChildTwo">
                <option>동을 선택해주세요.</option>
              </select>
            </div>
            <div class="languageWord">언어</div>
            <div id="hashContainer" class="languageSelect">
              <div class="languageBox">
                <input
                  class="language1"
                  type="text"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                />
                <img class="additional1" src="../static/img/plus.svg" />
              </div>
              <div class="languageBox">
                <input
                  class="language2"
                  type="text"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                />
                <img class="additional2" src="../static/img/plus.svg" />
              </div>
              <div class="languageBox">
                <input
                  class="language3"
                  type="text"
                  placeholder="직접 입력하기"
                  onfocus="this.placeholder=''"
                  onblur="this.placeholder='직접 입력하기'"
                />
                <img class="additional3" src="../static/img/plus.svg" />
              </div>
            </div>
            <div class="bottomContainer">
              <div class="bottomButton">
                <div class="deleteButton">취소</div>
                <input
                  type="submit"
                  class="storeButton"
                  value="저장하기"
                  onclick="location.href='../templates/post_detail.html'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="../static/js/post_edit.js"></script>
    </form>
  </body>
</html>
