<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/post_detail.css" />
  </head>

  <body>
    <div class="root">
      <div class="header">
        <div class="nav">
          <img class="logo" src="../assets/img/logo.png" />

          <div class="topButton">
            <div class="writingWord">
              <p>글쓰기</p>
            </div>
            <div class="profileBox">
              <div class="picture"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="lineContainer">
          <div class="subContainer">
            <div class="titleBox">
              <div class="title">프론트 엔드 스터디 모집</div>
              <div class="deleteEdit">
                <div class="edit">수정</div>
                <div class="delete">삭제</div>
              </div>
            </div>
          </div>
          <div class="topBox">
            <div class="profile">
              <div class="circleContainer">
                <div class="circle"></div>
              </div>
              <div class="name">조혜령</div>
            </div>
            <div class="dateBox">작성일 2023.03.26</div>
          </div>
          <div class="divisionContainer">
            <div class="wordContainer">
              <div class="word">모집 지역</div>
            </div>
            <div class="wordContainer">
              <div class="word">사용 언어</div>
            </div>
          </div>
          <div class="infoContainer">
            <div class="infoDivisionContainer">
              <div class="regionBoxes">
                <div class="regionBox">
                  <div class="region">경기도</div>
                </div>
                <div class="regionBox">
                  <div class="region">파주시</div>
                </div>
                <div class="regionBox">
                  <div class="region">금촌동</div>
                </div>
              </div>
            </div>
            <div class="infoDivisionContainer">
              <div class="languageBox">
                <div class="language">#리액트 #장고</div>
              </div>
            </div>
          </div>
          <div class="detailPost">상세 게시글</div>
        </div>
      </div>
    </div>

    <script src="../assets/js/psot_detail.js"></script>
  </body>
</html>
