<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TACO - Signup</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="../assets/css/signup.css" />
  </head>
  <body>
    <div class="root">
      <div class="header">
        <div class="nav"><img class="logo" src="../assets/img/logo.png" /></div>
      </div>
      <div class="main">
        <div class="container">
          <div class="leftContainer">
            <div class="intro">
              <div class="marker">
                <lottie-player
                  src="https://assets10.lottiefiles.com/datafiles/BWweJKuWuiTWcaI/data.json"
                  background="transparent"
                  speed="1"
                  style="width: 150px; height: 150px"
                  loop
                  autoplay
                ></lottie-player>
                <div class="blinder"></div>
              </div>

              내<span> 이웃</span>과 함께<br />
              <span>만들고 소통</span>하는 공간
            </div>
          </div>
          <div class="rightContainer">
            <form>
              <div class="signupForm">
                <div class="signupUp">
                  <h1>회원가입</h1>
                  <p>계정이 있으신가요?<a href="./login.html"> 로그인</a></p>
                </div>
                <div class="signupDown">
                  <div class="nameNick">
                    <div class="name"><input class="nameInput" type="text" placeholder="이름" /></div>
                    <div class="nickName">
                      <input class="nickNameInput" type="text" placeholder="닉네임" />
                    </div>
                  </div>
                  <div class="id">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        class="path1"
                        d="M5 20v-1a7 7 0 017-7v0a7 7 0 017 7v1M12 12a4 4 0 100-8 4 4 0 000 8z"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input class="idInput" type="text" placeholder="아이디" />
                  </div>
                  <div class="password">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        class="path2"
                        d="M16 12h1.4a.6.6 0 01.6.6v6.8a.6.6 0 01-.6.6H6.6a.6.6 0 01-.6-.6v-6.8a.6.6 0 01.6-.6H8m8 0V8c0-1.333-.8-4-4-4S8 6.667 8 8v4m8 0H8"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input class="passwordInput" type="password" placeholder="비밀번호" />
                  </div>
                  <div class="passwordCheck">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        class="path2"
                        d="M16 12h1.4a.6.6 0 01.6.6v6.8a.6.6 0 01-.6.6H6.6a.6.6 0 01-.6-.6v-6.8a.6.6 0 01.6-.6H8m8 0V8c0-1.333-.8-4-4-4S8 6.667 8 8v4m8 0H8"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input class="passwordCheckInput" type="password" placeholder="비밀번호 확인" />
                  </div>
                  <div class="phoneNumber">
                    <svg
                      width="24px"
                      height="24px"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      color="#000000"
                    >
                      <path
                        class="path2"
                        d="M16 12h1.4a.6.6 0 01.6.6v6.8a.6.6 0 01-.6.6H6.6a.6.6 0 01-.6-.6v-6.8a.6.6 0 01.6-.6H8m8 0V8c0-1.333-.8-4-4-4S8 6.667 8 8v4m8 0H8"
                        stroke="#B1B1B1"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path></svg
                    ><input class="phoneNumberInput" type="text" placeholder="휴대폰 번호를 -없이 적어주세요." />
                  </div>
                  <button>로그인</button>
                  <a href="">아이디/비밀번호 찾기</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/js/signup.js"></script>
  </body>
</html>
